<!DOCTYPE html>
<html>
<head>
	<title>NATCA ZOB</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {{#if user}}
              <li role="presentation"><a href="/">Dashboard</a></li>
              <li role="presentation"><a href="/users/logout">Logout</a></li>
            {{else}}
              <li role="presentation"><a href="/users/login">HAWC Login</a></li>
              <li role="presentation"><a href="/users/register">HAWC Registration</a></li>
            {{/if}}
            <li role="presentation"><a href="/users/help">Help</a></li>
            <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Area Bid Sites <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://area1.natcazob.org">Area 1</a></li>
            <li><a href="http://area2.natcazob.org">Area 2</a></li>
            <li><a href="http://area3.natcazob.org">Area 3</a></li>
            <li><a href="http://area4.natcazob.org">Area 4</a></li>
            <li><a href="http://area5.natcazob.org">Area 5</a></li>
            <li><a href="http://area6.natcazob.org">Area 6</a></li>
            <li><a href="http://area7.natcazob.org">Area 7</a></li>
            <li><a href="http://area8.natcazob.org">Area 8</a></li>
            <li><a href="http://zobtmu.natcazob.org">TMU</a></li>
          </ul>
        </li>
          </ul>
        </nav>
        <h3 class="text-muted"><a href="/users/natcazobindex" style="text-decoration: none;">NATCA ZOB</a></h3>
      </div>
      <div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
          
          {{{body}}}
        </div>
      </div>

      <footer class="footer">
        <p>Website developed by NATCA ZOB IT</p>
      </footer>

    </div> <!-- /container -->
</body>
</html>
